<div bsModal class=" row modal fade" #editCategoryModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModal"
     aria-hidden="true" (onHide)=" this.editCategoryForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editCategoryForm">


    <form class="text-center border border-light p-5" [formGroup]="editCategoryForm"  (ngSubmit)="editCategory()">

      <p class="h4 mb-4">Edit Category</p>
      <input type="text"  class="form-control mb-4"   formControlName="name" placeholder="Enter name" autocomplete="off">
      <button mdbBtn color="danger" block="true" class="my-4" type="submit" [disabled]="editCategoryForm.invalid || editCategoryForm.pristine" >Edit</button>

    </form>

  </div>
</div>


