<div bsModal class=" row modal fade" #editGameModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editGameModal"
     aria-hidden="true" (onHide)=" this.editGameForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editGameForm">


    <form class="text-center border border-light p-5" [formGroup]="editGameForm"  (ngSubmit)="editGame()">

      <p class="h4 mb-4">Edit Game</p>

      <label for="name">Name</label>
      <input type="text"  id="name" class="form-control mb-4"   formControlName="name" autocomplete="off" >

      <label for="price">Price</label>
      <input type="number"  id="price" class="form-control mb-4" formControlName="price">

      <label for="description" >Description</label>
      <input type="text" id="description" class="form-control mb-4" formControlName="description" autocomplete="off" >

      <label for="minReq" >MinReq</label>
      <input type="text" id="minReq" class="form-control mb-4" formControlName="minReq" autocomplete="off" >

      <label for="recReq" >RecReq</label>
      <input type="text" id="recReq" class="form-control mb-4" formControlName="recReq" autocomplete="off" >

      <label for="developerId">DeveloperId</label>
      <input type="number" id="developerId"  class="form-control mb-4" formControlName="developerId" autocomplete="off" >

      <label for="category">Add category id's *</label>
      <input type="text" id="category" class="form-control mb-4" placeholder='CategoryId1, CategoryId2' formControlName="categoryId" autocomplete="off" >

      <label for="image">Img URL</label>
      <input type="text" id="image" class="form-control novalidate mb-4"  formControlName="image" autocomplete="off" >



      <button mdbBtn color="danger" block="true" class="my-4" type="submit" [disabled]="!this.editGameForm.valid || this.editGameForm.pristine" >Edit</button>







    </form>

  </div>
</div>


