<div bsModal class=" row modal fade" #editDeveloperModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="editDeveloperModal"
     aria-hidden="true" (onHide)=" this.editDeveloperForm.reset();">
  <div class="col-md-6 col-sm-6 col-lg-4 mx-auto my-4" *ngIf="editDeveloperForm">

    <form class="text-center border border-light p-5 " 
    [formGroup]="editDeveloperForm"  (ngSubmit)="editDeveloper()">

      <p class="h4 mb-4">Edit Developer</p>
      <input type="text"  class="form-control mb-4"  formControlName="name" placeholder="Enter name" autocomplete="off">
      <input type="text"  class="form-control mb-4"  formControlName="website" placeholder="Enter website" autocomplete="off">      
      <input type="text"  class="form-control mb-4"  formControlName="country" placeholder="Enter country" autocomplete="off">      
      <button mdbBtn color="danger" block="true" class="my-4" type="submit" [disabled]="editDeveloperForm.invalid || editDeveloperForm.pristine">Edit</button>

    </form>

  </div>
</div>


